<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317102594797-sbeotno16dv8ku0pf2vd6ld2drnkvg4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317102594797-sbeotno16dv8ku0pf2vd6ld2drnkvg4q</string>
	<key>API_KEY</key>
	<string>AIzaSyCl_awKW2dNBBtcK2HJoVWYvonw2s5Hjx0</string>
	<key>GCM_SENDER_ID</key>
	<string>317102594797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adl.backdrop</string>
	<key>PROJECT_ID</key>
	<string>backdrop-1563148655138</string>
	<key>STORAGE_BUCKET</key>
	<string>backdrop-1563148655138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317102594797:ios:7d95826c1ca3e875a34ae4</string>
	<key>DATABASE_URL</key>
	<string>https://backdrop-1563148655138.firebaseio.com</string>
</dict>
</plist>